[submodule "qwer_main/third_party/googletest"]
	path = qwer_main/third_party/googletest
	url = https://github.com/google/googletest
[submodule "qwer_main/third_party/json"]
	path = qwer_main/third_party/json
	url = https://github.com/nlohmann/json
[submodule "qwer_main/third_party/http-parser"]
	path = qwer_main/third_party/http-parser
	url = https://github.com/nodejs/http-parser
[submodule "qwer_main/third_party/SQLiteCpp"]
	path = qwer_main/third_party/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
